@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
.
.bg-dots {
  background-image: radial-gradient(#ffffff10 1px, transparent 1px);
  background-size: 12px 12px;
}
